body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
  text-align: center;
  background: white;

  h1 {
    margin: 0;
    padding: 20px;
  }
}

section {
  max-width: 1344px;
  margin: 0 auto;
}