.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    width: 500px;
    max-height: 80vh;
    overflow-y: scroll;
    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    .img {
      width: 100%;
      height: 200px;
      background-size: cover;
    }

    .text {
      padding: 10px;
    }

    a {
      padding: 10px;
      display: block;
      width: max-content;
      margin: 20px auto 0;
      border-radius: 10px;
      cursor: pointer;
    }

    .redirectButton {
      background: black;
      color: white;
    }

    .close {
      background: black;
      color: white;
    }
  }
}